body {
      background-color: #f7f4ef;
    }

    header {
      background-color: #342628;
      padding: 10px;
    }
      footer {
        background-color:#342628 ;
        color: #fefefe;
        text-align: center;
        padding: 10px;
        margin-bottom: 0;
      }


    .nav-center {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .form-select {
      margin: 10px;
      border-radius: 20px;
      padding: 10px 20px;
    }

    button {
      background-color: #007bff;
      color: #c7cf98;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 20px;
    }

    #標題 {
      background-color: #ffffff;
      height: 150px; 
      line-height: 150px; 
    }
    
